.component-selectplusmulti {
  display: block;
  position: relative;
  min-width: 100px;
  .check-box {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 4px 0;
    margin: 0;
    min-height: 34px;
    cursor: text;
    > span {
      position: absolute;
      left: 10px;
      top: 6px;
      color: #ababab;
    }
    input {
      padding-left: 6px;
      border: 1px solid #3C8DBC;
      margin-bottom: 4px;
      &:focus {
        outline: 0;
      }
    }
    .tag {
      font-size: 0;
      display: inline-block;
      padding: 0 10px 0 0;
      color: #FFF;
      height: 23px;
      line-height: 23px;
      background-color: #3C8DBC;
      border-radius: 3px;
      margin: 0 4px 4px 0;
      span:nth-of-type(1) {
        position: relative;
        color: #e2e2e2;
        cursor: pointer;
        margin: 0 8px;
        font-size: 14px;
        user-select: none;
        &:hover {
          color: #fff;
        }
      }
      span:nth-of-type(2) {
        font-size: 12px;
        user-select: text;
      }
    }
  }
  .drop-down {
    width: 100%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 10000000;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    > div:nth-of-type(1) {
      height: 29px;
      background-color: #fff;
      padding: 5px 0 0 10px;
      a:nth-of-type(2) {
        margin-left: 10px;
      }
    }
    ul {
      overflow: auto;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        list-style: none;
        text-align: left;
        padding: 6px 10px;
        height: 32px;
        span:nth-of-type(2) {
          margin-left: 23px;
        }
        span:nth-of-type(1) {
          position: absolute;
          top: 50%;
          transform: translate(0,-50%);
          left: 10px;
        }
      }
    }
  }
  .show-up {
    border-bottom: 0;
  }
  .show-down {
    border-top: 0;
  }
  .is-hover {
    background-color: #3C8DBC!important;
    color: #fff;
  }
  .has-result {
    cursor: pointer;
  }
  .no-result {
    cursor: text;
    background-color: #fff!important;
    color: #333;
  }
}
