<header class="main-header">
  <!-- Logo -->
  <span class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <img src="{{siteBase}}/static/lib/img/admin-logo-white-sm.png" style="width: 30px;">
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <img src="{{siteBase}}/static/lib/img/admin-logo-white-md.png" style="width: 186px; margin-top: -3px;">
    </span>
  </span>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-cog"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- <li>
              <a href="#">账号设置</a>
            </li> -->
            <li>
              <a href="javascript: logout()">退出登录</a>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>
  </nav>
</header>
