<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{project.name}} v{{project.version}} | {% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href=/favicon.ico>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <meta name="robots" content="noindex, nofollow">
  {% block styles %}
  <link rel="stylesheet" href="{{siteBase}}/static/layout/base/base.css">
  {% endblock %}
</head>
<body class="hold-transition login-page">

  <!-- Main content -->
  <div id="content">
    {% block content %}加载中...{% endblock %}
  </div><!-- /.content -->

  <script type="x-template" id="template">{% block template %}{% endblock %}</script>

  {% block scripts %}
  {% autoescape false %}<script>data = {{__data}};</script>{% endautoescape %}
  <script src="{{siteBase}}/static/layout/base/base.js"></script>
  {% endblock %}
</body>
</html>
