.label-disabled {
  background: #aaa;
}

.dropdown-menu {
  min-width: 0;
}

.table {
  table-layout: auto;
  th { white-space: nowrap; }
}

.table-responsive {
  height: auto;
}

@media (max-width: 520px) {
  .box-body {
    overflow: auto;
  }
}

.form-control-static label {
  font-weight: normal;
}

/* 解决AdminLTE原始布局实现，在页面打开JS未加载时，footer在页面中部的问题；（非最优解） */
.content-wrapper,
.right-side {
  min-height: 2000px;
}

.caret {
  border-top: 4px dashed #000;
}

/* 字体 */
body { font-family: Helvetica,STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif; }

.no-select {
  -webkit-user-select:none;
  user-select:none;
}

/* 图片 */
.cover-pic {
  display: block; position: relative; margin: 0 auto;
  background-size: cover; background-position: center center;
  background-repeat: no-repeat; /* background-color: #fff; */
  img { width: 100%; height: 100%; opacity: 0;}
}
.contain-pic {
  display: block; position: relative; margin: 0 auto;
  background-size: contain; background-position: center center;
  background-repeat: no-repeat; /* background-color: #fff; */
  img { width: 100%; height: 100%; opacity: 0;}
}

@-webkit-keyframes 'turning' {
  0%   {-webkit-transform: rotate(0); }
  100% {-webkit-transform: rotate(360deg); }
}
.am-turning { animation: 'turning' 1.2s linear infinite; }


// 工具类
@for $i from 0 through 20 {
  .ml#{$i*5} { margin-left: 5px * $i; }
  .mr#{$i*5} { margin-right: 5px * $i; }
  .mb#{$i*5} { margin-bottom: 5px * $i; }
  .mt#{$i*5} { margin-top: 5px * $i; }
  .pl#{$i*5} { padding-left: 5px * $i; }
  .pr#{$i*5} { padding-right: 5px * $i; }
  .pb#{$i*5} { padding-bottom: 5px * $i; }
  .pt#{$i*5} { padding-top: 5px * $i; }
}
.no-margin { margin: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }
.no-padding { padding: 0; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }
.pl12 { padding-left: 12px; }
.pr12 { padding-right: 12px; }

.block {
  display: block;
}


.nowrap {
  white-space: nowrap;
}
