<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{project.name}} v{{project.version}} | {% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <!-- # 适配至移动设备时使用 -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
  <!-- <meta name="format-detection" content="telephone=no"> -->
  <!-- <meta http-equiv="x-rim-auto-match" content="none"> -->
  <!-- / 适配至移动设备时使用 -->
  {% block styles %}
  <link rel="stylesheet" href="/static/lib/css/base.css">
  {% endblock %}
</head>
<body>

  <div id="content">
    {% block content %}
      <!-- # 图片预加载放置位 -->
      <!-- / 图片预加载放置位 -->
      <p class="no-script-loading text-muted">Loading...</p>
    {% endblock %}
  </div>

  <script type="x-template" id="template">
  {% block template %}
  {% endblock %}
  </script>

  {% block scripts %}
    <!-- # 需要保留 -->
    {% autoescape false %}<script>data = {{__data}};</script>{% endautoescape %}
    <!-- / 需要保留 -->
    <script src="/static/lib/js/base.js"></script>
  {% endblock %}

  {% if (env == 'prod' && !conf.debug) %}
  <!-- # 监控部署代码放置位 -->
  <!-- / 监控部署代码放置位 -->
  {% endif %}

</body>
</html>
