<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{project.name}} v{{project.version}} | {% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-rim-auto-match" content="none">
  {% block styles %}
  <link rel="stylesheet" href="{{staticPrefix}}/layout/base/base.css">
  {% endblock %}
</head>
<body>

  <div id="content">
    {% block content %}
      <!-- # 图片预加载放置位 -->
      <!-- / 图片预加载放置位 -->
      <p class="no-script-loading text-muted">Loading...</p>
    {% endblock %}
  </div>

  <script type="x-template" id="template">
  {% block template %}
  {% endblock %}
  </script>

  {% block scripts %}
    <!-- # 需要保留 -->
    {% autoescape false %}<script>data = {{__data}};</script>{% endautoescape %}
    <!-- / 需要保留 -->
    <script src="{{staticPrefix}}/layout/base/base.js"></script>
  {% endblock %}

  {% if (env == 'prod' && !conf.debug) %}
  <!-- # 监控部署代码放置位 -->
  <!-- / 监控部署代码放置位 -->
  {% endif %}

</body>
</html>
